body {
  background-color: #00000007;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.wrapper {
  width: 100%;
  height: 100%;
  padding: 40px 0px 0px 0px;
  user-select: none;
  width: 600px;
  margin: auto;
}
.field {
  width: 600px;
  height: 600px;
  position: relative;
  opacity: 1;
  border: 6px solid rgb(0, 0, 0);
  box-shadow: 0px 0px 0px 0px rgba(109, 109, 109, 0.5);
  background-color: rgb(208, 208, 208);
  border-radius: 0;
}

.square {
  height: 147px;
  width: 148px;
  background-color: rgba(100, 100, 100, 0.809);
  box-shadow: inset 0 0 0px 0px rgb(252, 252, 252);
  border: 2px solid white;
  border-radius: 0px;
  position: absolute;
  cursor: pointer;
}
.square:hover {
  background-color: rgba(67, 67, 67, 0.809);
}
.text-number {
  color: white;
  text-align: center;
  line-height: 150px;
  font-weight: 800;
  font-size: 80px;
  opacity: 1;
}

.modal-window-win {
  display: none;
  position: fixed;
  background-color: rgb(255, 255, 255);
  border: 4px solid rgb(10, 10, 10);
  box-shadow: inset 0 0 0 0 rgba(117, 74, 9, 0.719), 0 0 0 0 rgba(0, 0, 0, 0.856);
  width: 400px;
  height: 160px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0px;
}
.modal-window-win.show {
  display: block;
}
.modal-window-win__text {
  text-align: center;
  padding: 35px 0px 20px 0px;
  font-size: 50px;
  font-weight: 700;
  text-shadow: 0 0 0px black, 0 0 0 black;
  color: rgb(24, 24, 24);
}
.modal-window-win__text-2 {
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  color: rgb(255, 5, 5);
}
.new-style {
  display: inline-block;
  color: rgb(255, 253, 253);
  cursor: pointer;
  text-align: center;
  font-weight: 500;
  font-size: 22px;
  line-height: 25px;
  padding: 10px;
  opacity: 0.8;
  border-radius: 0;
  border: 0px solid rgb(56, 34, 20);
  box-shadow: 0px 0px 0 0 rgb(56, 34, 20);
  background-color: rgba(100, 100, 100, 0.809);
}
.btn-new-generation {
  display: inline-block;
  color: rgb(255, 253, 253);
  cursor: pointer;
  text-align: center;
  font-weight: 500;
  font-size: 22px;
  line-height: 25px;
  padding: 10px;
  opacity: 0.8;
  border-radius: 0;
  border: 0px solid rgb(56, 34, 20);
  box-shadow: 0px 0px 0 0 rgb(56, 34, 20);
  background-color: rgba(100, 100, 100, 0.809);
}
.down-info {
  display: flex;
  justify-content: space-between;

}
.counter-step {
  display: block;
  text-align: center;
  font-size: 55px;
  font-weight: 700;
  color: rgb(56, 34, 20);
  text-shadow: 0px 0px 4px rgb(255, 255, 255);
}

.stopwatch {
  display: block;
  /* margin: 20px 0px 0px 0px; */
  display: inline-block;
  text-align: center;
  font-size: 55px;
  font-weight: 700;
  color: rgb(56, 34, 20);

  text-shadow: 0px 0px 4px rgb(255, 255, 255);
}

@media screen and (max-width: 550px) {
  .square:hover {
    background-color: rgba(100, 100, 100, 0.809);
  }
  .square:active {
    background-color: rgba(67, 67, 67, 0.809);
  }
}
